<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.pagination">
	
	<!-- totalCnt book -->
	<select id="selectTotalCnt" resultType="int" parameterType="kr.co.sist.user.book.vo.BookCountryVO">
		select count(*)
		from book
		<where>
			book_activity = 'Y'
				<if test="book eq 'kor'"> and book_country = '국내' </if>
				<if test="book eq 'for'"> and book_country = '국외' </if>
				
				<choose><!-- trim지워도댐 -->
					<when test="type eq 'science'"> <trim prefix="and"> book_type_no = 0  </trim> </when>
					<when test="type eq 'kids'"> <trim prefix="and"> book_type_no = 1  </trim> </when>
					<when test="type eq 'novel'"> <trim prefix="and"> book_type_no = 2  </trim> </when>
					<when test="type eq 'travel'"> <trim prefix="and"> book_type_no = 3  </trim> </when>
					<when test="type eq 'cook'"> <trim prefix="and"> book_type_no = 4  </trim> </when>
					<when test="type eq 'psycho'"> <trim prefix="and"> book_type_no = 5  </trim> </when>
					<otherwise> <!-- 전체를 보여줌 --> </otherwise> 
				</choose>
		</where>
	</select>
	
	
	<!-- 문의의 total cnt -->
	<select id="selectTotalCntQna" resultType="int" parameterType="kr.co.sist.user.qna.vo.SelectQnaVO">
		select count(*)
		from QNA
	</select>
	
	
	
	<!-- 검색의 totalCnt -->
	<select id="selectTotalCntSearch" resultType="int" parameterType="kr.co.sist.user.book.vo.SearchBookVO">
		select 	count(*)
		from book
		<where>
			<if test="bookCate != null">
				<choose>
					<when test="bookCate eq 'all' "> book_country in ('국내','국외') </when>
					<when test="bookCate eq 'best' ">book_best= 'Y'</when>
					<when test="bookCate eq 'kor' ">book_country in '국내'</when>
					<when test="bookCate eq 'for' ">book_country in '국외'</when>
				</choose>
			</if>
			<if test="bookCateDetail != null and bookCateDetail != 'none'">
				<trim prefix="and" prefixOverrides="and">
					<choose>
						<when test="bookCateDetail eq 'detail_all' ">book_type_no in (0,1,2,3,4,5)</when>
						<when test="bookCateDetail eq 0 ">book_type_no=0</when>
						<when test="bookCateDetail eq 1 ">book_type_no=1</when>
						<when test="bookCateDetail eq 2 ">book_type_no=2</when>
						<when test="bookCateDetail eq 3 ">book_type_no=3</when>
						<when test="bookCateDetail eq 4 ">book_type_no=4</when>
						<when test="bookCateDetail eq 5 ">book_type_no=5</when>
					</choose>
				</trim>
			</if>
			<if test="book_price1 neq 0 and book_price2 neq 0">
				<trim prefix="and" prefixOverrides="and">
					book_price between #{book_price1} and #{book_price2}
				</trim>
			</if>
			<if test="searchKeyword != null">
				<trim prefix="and" prefixOverrides="and">
					${searchType} like '%'|| #{ searchKeyword }||'%'
				</trim>
			</if>
		</where>
	</select>

</mapper>