.main_category {
	width: 15vw;
	padding: 0 30px 0 0
}

.main_category .cate_title {
	font-size: 1.5em;
	font-weight: 800;
	padding: 20px 0;
	border-bottom: 1px solid #000
}

.main_category ul {
	padding: 20px 0
}

.main_category ul li {
	padding: 10px 0
}


.main_category ul li a {
	color: #4d4d4d;
}

.main_category ul li a:hover {
	color: black;
	font-weight: 600;
}

.selected {
	font-weight: 600;
	color:red;
}
