.book_info_wrap .book_description {
	display: flex;
	flex-direction: column;
	justify-content: center
}

.book_info_wrap .book_description .input_cnt {
	border: 1px solid #dadada;
	height: 40px
}

.book_info_wrap .book_description .btn_order {
	border: 1px solid #000;
	background-color: #000;
	color: #fff
}

.book_info_wrap .book_description .btn_cart {
	border: 1px solid #000;
	background-color: #fff;
	color: #5f5f5f
}

* {
	box-sizing: border-box
}

.section_main {
	width: 80vw;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 120px
}

.book_titles {
	width: 100%;
	border-bottom: 2px solid #e9e9e9;
	padding-bottom: 20px
}

.book_titles .title {
	font-size: 1.5em;
	font-weight: 600;
	padding: 20px 0
}

.book_titles .others span {
	margin-right: 20px;
	font-size: .9em;
	color: #626262
}

.book_info_wrap {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[5];
	grid-template-columns: repeat(5, 1fr);
	padding-bottom: 60px;
	height: 450px;
}

.book_info_wrap .book_img {
	grid-area: span 1/span 2;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book_info_wrap .book_img img {
    height: 400px;
    width: auto;
}

.book_info_wrap .book_description {
	grid-area: span 1/span 3;
	padding-left: 60px
}

.book_info_wrap .book_description li {
	display: flex
}

.book_info_wrap .book_description li label, .book_info_wrap .book_description li span
	{
	line-height: 40px
}

.book_info_wrap .book_description li:nth-child(3) {
	padding-bottom: 30px
}

.book_info_wrap .book_description .des_title {
	width: 100px
}

.book_info_wrap .book_description .btn_cart, .book_info_wrap .book_description .btn_order
	{
	width: 130px;
	height: 50px;
	margin-right: 10px
}

.comment_title, .refund_title {
	font-size: 1.2em;
	font-weight: 600;
	border-top: 1px solid #e9e9e9;
	padding-top: 30px
}

.comment {
	padding: 30px 0 50px;
	line-height: 1.3em;
	color: #626262
}

.comment ul {
	list-style-type: disc;
	padding-left: 20px
}